.feedback-form {
    padding: 24px;

    display: flex;
    flex-direction: column;

    width: 408px;
    height: 256px;
}

.feedback-form-label {
    display: flex;
    flex-direction: column;

    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.feedback-form-text {
    margin-top: 8px;
    margin-bottom: 8px;

    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;

    padding: 8px 16px;

    outline: transparent;
}

.feedback-form-text:hover {
    border: 1px solid #000;
}

.feedback-form-text::placeholder{
    opacity: 0;
}

input:focus::placeholder {
    opacity: 1;
}

.feedback-form-textarea{
    margin-top: 8px;
    margin-bottom: 16px;

    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;

    padding: 8px 16px;

    outline: transparent;
}

.feedback-form-textarea:hover {
    border: 1px solid #000;
}

.btn {
    border: none;
    cursor: pointer;

    display: block;
    max-width:95px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 16px;

    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background: #6c8cff;
}