.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

.gallery-image {
    height: 100%;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: zoom-in;
}

.gallery-image:hover {
    transform: scale(1.05);
}